.content {
  width: 100%;
  height: 100svh;
  border-bottom: 3px solid var(--gold);
  background-color: var(--dark-green);
  background: url("/images/home/003.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000b9, #0000005c);
}
.text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: var(--fz-3xl);
  font-family: "Playfair";
  font-weight: 700;
  line-height: 1;
  padding-bottom: 20px;
  color: var(--silver);
  z-index: 3;
  user-select: none;
}
.text div {
  line-height: 1.2;
}

@media (max-width: 800px) {
  .text {
    font-size: 2rem;
  }
}
@media (max-width: 610px) {
  .text {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .text {
    font-size: 1.3rem;
  }
}
@media (max-width: 380px) {
  .text {
    font-size: 1rem;
  }
}
